:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-surface: #ffffff;
  --color-surface-hover: #f4f4f5;
  --color-text-muted: #6b7280;
  --color-accent: #3b82f6;
  --color-border: rgba(0, 0, 0, 0.08);
  --color-button-hover: rgba(105, 135, 244, 0.91);
  --color-link-hover: #17967f;

  --transition-theme: background-color 0.2s ease, color 0.2s ease;
}

[data-theme='dark'] {
  --color-bg: #172122;
  --color-text: #ffffff;
  --color-surface: #172122;
  --color-surface-hover: rgba(255, 255, 255, 0.08);
  --color-text-muted: #a1a1aa;
  --color-accent: #60a5fa;
  --color-border: rgba(255, 255, 255, 0.12);
  --color-button-hover: rgb(237, 233, 110);
  --color-link-hover: #ff70c0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: var(--transition-theme);
}